/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
/*   body {
    background-size: cover;
  } */
  #tetris {
    margin-top: 10%;
  }
  h1 {
    margin-top: 3%;
    margin-left: 35%;
  }
	.ins {
		display: none;
	}
	.score {
		display: none;
	}
  .gameOver {
    margin-left: 30%;
    margin-top: -55%;
  }
  #soundOff{
    margin-top: 25%;
  }
  .material-icons {
    margin-top: 10%;
  }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 992px) {
/*     h1 {
      margin-left: 40%;
    }
    .ins {
      margin-top: 21%;
      margin-left: 2%;
    }
    .score {
      margin-top: 6%;
      margin-left: 2%;
    }
    .gameOver {
      margin-left: 38%;
      margin-top: -35%;
    }
    #soundOff{
      margin-top: 15%;
    } */
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

  }
