@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
body {
  background-size: 100%;
  color: #e9e97e;
  text-align: center;
  font: 1.4em "Press start 2P";
} 

.image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
  display: flex;
}

h1{
  position: absolute;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 580px;
}
.key {
  max-width: 200px;
  width: 100%; 
}

.ins {
  position: absolute;
  max-width: 300px;
  width: 100%; 
  max-height: 350px;
  height: 100%;
  border-style: outset;
  border-width: 10px;
  margin-top: 240px;
  margin-left: 170px;
  backdrop-filter: blur(2px);
  border-color: #9e9d9d;
}
h3 {
  margin-top: 20px;
}
p{
  font-size: 15px;
  padding: 10px;
}
.score {
  border-style: outset;
  border-width: 10px;
  align-items: center;
  padding-top: 25px;
  max-width: 300px;
  width: 100%; 
  max-height: 130px;
  height: 100%;
  margin-top: 80px;
  margin-left: 170px;
  backdrop-filter: blur(2px);
  border-color: #9e9d9d;
  position: absolute;
}

#tetris {
  position: relative;
  height: 80vh;
  border-style: outset;
  border-width: 10px;
  border-color: #9e9d9d;
  margin-top: 80px;
}

.material-icons {
  position: absolute;
  margin-left: 40px;
  border-style: outset;
  border-width: 10px;
  border-color: #9e9d9d;
  padding: 5px;
  cursor: pointer;
  backdrop-filter: blur(2px);
  margin-top: 80px;
}
#soundOff{
  margin-top: 160px;
}

.gameOver {
  position: fixed;
  border-style: outset;
  border-width: 10px;
  border-color: #9e9d9d;
  max-width: 230px;
  width: 100%; 
  font-size: 25px;
  backdrop-filter: blur(2px);
  margin-left: 565px;
  margin-top: -350px;
  visibility: hidden;
}
h2{
  padding: 20px;
}
#play {
  padding: 5px;
  font: 0.6em "Press start 2P";
  margin-bottom: 10px;
  cursor: pointer;
}

#play:hover {
  background-color: rgb(161, 149, 149);
}


