@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
body {
  background-size: 100%;
  color: #e9e97e;
  text-align: center;
  font: 1.4em "Press start 2P";
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.959);
} 

h1{
  position: absolute;
  font-size: 30px;
  margin-top: 2%;
  margin-left: 43%;
}
.key {
  max-width: 200px;
  width: 50vh; 
}

.ins {
  position: absolute;
  max-width: 300px;
  width: 50vh; 
  max-height: 350px;
  height: 60vh;
  border-style: outset;
  border-width: 10px;
  margin-top: 17.5%;
  margin-left: 13%;
  backdrop-filter: blur(2px);
  border-color: #9e9d9d;
}
h3 {
  margin-top: 20px;
}
p{
  font-size: 15px;
  padding: 10px;
}
.score {
  border-style: outset;
  border-width: 10px;
  align-items: center;
  padding-top: 25px;
  max-width: 300px;
  width: 50vh; 
  max-height: 130px;
  height: 30vh;
  margin-top: 6%;
  margin-left: 13%;
  backdrop-filter: blur(2px);
  border-color: #9e9d9d;
  position: absolute;
}

#tetris {
  position: relative;
  height: 80vh;
  border-style: outset;
  border-width: 10px;
  border-color: #9e9d9d;
  margin-top: 6%;
}

.material-icons {
  position: absolute;
  margin-left: 2%;
  border-style: outset;
  border-width: 10px;
  border-color: #9e9d9d;
  padding: 5px;
  cursor: pointer;
  backdrop-filter: blur(2px);
  margin-top: 6%;
}
#soundOff{
  margin-top: 12%;
}

.gameOver {
  position: absolute;
  border-style: outset;
  border-width: 10px;
  border-color: #9e9d9d;
  max-width: 230px;
  width: 100%; 
  font-size: 25px;
  backdrop-filter: blur(2px);
  margin-left: 41.6%;
  margin-top: -25%;
  visibility: hidden;
}
h2{
  padding: 20px;
}
#play {
  padding: 5px;
  font: 0.6em "Press start 2P";
  margin-bottom: 10px;
  cursor: pointer;
}

#play:hover {
  background-color: rgb(161, 149, 149);
}


